
@{
    ViewBag.Title = "ChooseData";
}

<h2>ChooseData</h2>
<ul>
    <li>@Html.ActionLink("Misijas", "Missions")</li>
    <li>@Html.ActionLink("Lidaparati", "Aircrafts")</li>
    <li>@Html.ActionLink("Planetas", "Planets")</li>
    <li>@Html.ActionLink("Pavadoni", "Satellites")</li>
</ul>
