@{
    ViewBag.Title = "Contact";
}

    <div id="page-content-wrapper">
        <h2>@ViewBag.Message</h2>
        <address>
            Vienības iela 13,<br />
            Daugavpils, Latvija, LV-5401<br />
        </address>

        <address>
            <strong>E-pasts:</strong>   <a href="mailto:du@du.lv">du@du.lv</a><br />
        </address>
    </div>
