@{
    ViewBag.Title = "Home Page";
}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h1>Saules sistēma</h1>
                <p class="lead">Šajā mājaslapā Jūs varat iegūt informāciju par Saules sistēmā ietilpstošajām planētām un misijām.</p>
                <img src="~/Content/atteli/planetas.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
