@model IEnumerable<astronomy5.Models.Misijas>

@{
    ViewBag.Title = "Missions";
}

<h2>Misijas</h2>
<p>@Html.ActionLink("Go Back", "ChooseData")</p>
<ul>
    
    @foreach(var miss in Model)
    {
        <li>@miss.Nosaukums</li>
    }
</ul>
